@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

* {
    font-family: "Jura", monospace;
    user-select: none;
    --bs-body-color: #ff1144;
    --bs-primary-text-emphasis: #ff1144;
    --bs-border-color: #ff1144;
    --bs-body-bg: black;
    --bs-primary-bg-subtle: #111111;

    --bs-link-color-rgb: 255, 17, 68;

    /* Override a bunch of styling for accordion in contest.html */
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f14'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    /* Override a bunch of styling for navbar */
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: bold;
}

.hero {
    font-weight: 600;
    font-size: 11.5vw;
    letter-spacing: 3vw;
}

.card {
    border: none;
    transition: 0.5s;
    min-height: 22rem;
    z-index: 1;
}

.card:hover {
    rotate: 2deg;
    scale: 1.1;
    z-index: 2;
}

.card-border {
    border-radius: 1rem;
    border: 0.23vw solid #ff1144;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-content {
    background: linear-gradient(45deg in hsl longer hue, red, blue);
    flex-grow: 1;
}


.circle-cutout {
    width: 100%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
}

.circle-cutout img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
}

